@charset "UTF-8";
	*{
	   font-family: 'Gothic A1', sans-serif;
	}
	
	section{
		margin-left: 300px;
	}
	
	#asideBack{
		display:inline-block;
		padding-left:60px; 
		padding-top: 50px; 
		width: 200px; 
		height: 1100px; 
		background: #E5E5E5;
		position: fixed;
	}
	
	#AsideFirstBtn{
		margin-left: 25px; 
		margin-top: 25px; 
		padding-top: 10px; 
		width:150px; 
		height: 30px;
		background: #27334C; 
		color: white; 
		text-align: center;
		cursor: pointer;
	}