@charset "UTF-8";


#titleIcon {
			width: 40px;
			height: 40px;
			margin-right: 5px;
			margin-bottom: -5px;
		}
		
#titleName {
			font-size: 1.8em;
			font-weight: 1000;
		}
		
#titleDiv {
			clear: both;
		}
		