@charset "UTF-8";
		.calmain{
		  width: 100%;
		  display: block;
		}
		.content-wrap{
		  width: 650px;
		  margin:0 auto;
		  padding-left: 120px;
		  border: 2px solid #EAEAEA; 
		  border-radius: 20px;
		  overflow: hidden;
		}
		.calmain-wrap{
		  text-align: center;
		  padding: 20px 0 0 0;
		}
		.calmain-day{
		  font-size: 20px;
		  font-weight: bold;
		}
		.calmain-date{
		  font-size: 120px;
		  font-weight: bold;
		  margin: 20px 0;
		}
		.content-right{
		  float: left;
		  width: 90%;
		  height: 100%;
		  padding: 10px;
		}
		.sun{
		  color:#ef3333;
		}
		.sat{
		  color:#2107e0;
		}
		.content-right table tr td{
		  width: 40px;
		  height: 40px;
		  font-size: 20px;
		  font-weight: bold;
		}
		.active{
		      background: #ef3333bd;
		      color: white;
		}
		
		@media(min-width: 650px){
		  .calmain{
		    display: flex;
		    align-items: center;
		    justify-content:  center;
		  }
		  .content-wrap{
		    height: 550px;
		    margin-top:20px;
		    border-radius: 20px;
		    border: 2px solid #EAEAEA; 
		    margin-left: -200px;
		    overflow: hidden;
		  }
		  .calmain-wrap{
		    text-align: center;
		    margin: 20px 0 0 0;
		  }
		  .calmain-day{
		    font-size: 20px;
		    font-weight: bold;
		  }
		  .calmain-date{
		    font-size: 120px;
		    font-weight: bold;
		    margin: 20px 0;
		  }
	
		  .content-right{
		    float: left;
		    width: 360px;
		    height: 600px;
		  }
		  .sun{
		    color:#ef3333;
		  }
		  .sat{
		    color:#2107e0;
		  }
		  .content-right table tr td{
		    width: 50px;
		    height: 50px;
		    font-size: 16px;
		    font-weight: bold;
		  }
		  .active{
     		background: #ef3333bd;
     		color: white;
		  }
	}