.menu-trigger {
    padding-bottom: 20px;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: absolute;
    width: 50px;
    height: 24px;
}

.menu-trigger span {
    position: absolute;
    left: 2px;
    width: 70%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 2px;
}

.menu-trigger span:nth-of-type(2) {
    top: 12px;
}

.menu-trigger span:nth-of-type(3) {
    top: 22px;
}
.menu-trigger.active-1 span:nth-of-type(1) {
    -webkit-transform : translateY(20px) rotate(-315deg);
    transform : translateY(20px) rotate(-315deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
    -webkit-transform : translateY(0px) rotate(315deg);
    transform : translateY(0px) rotate(315deg);
}