@charset "UTF-8";
   #listTable {
      border-collapse: collapse; 
      border-spacing: 1px; 
      line-height: 1.5; 
      border-top: 2px solid #ccc;
      margin: 5px;
   }
   
   #listTable th{
      border-bottom: 2px solid #ccc;
      padding: 12px;
   }
   
   #listTable td{
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #ccc;
      font-size: 0.9em;
   }
   
   #listTable tr.head{
      background: #ECECEC;
   }
   
   #listTable tr.row:hover {
      background: #27334C;
      color: white;
   }
   
   #titleIcon {
      width: 40px; 
      height: 40px; 
      margin-right: 5px; 
      margin-bottom: -5px;
   }
   
   #titleName{
      font-size: 1.8em; 
      font-weight: 1000;
   }
   
   #mainDiv{
      float:left; 
      width:1100px; 
      margin-left: 50px; 
      margin-top: 100px;
   }
   
   #titleDiv{
      clear:both;
   }