@charset "UTF-8";

#percent{
		    display: block;
		    width: 70px;
		    border: 1px solid #CCC;
		    border-radius: 5px;
		    margin: 10px auto 20px;
		    color: #27334C;
		    font-size: 20px;
		    text-align: center;
		    font-weight: bold;
		    box-sizing: border-box;
		}
		#donut{
		    display: block;
		    margin: 0px auto;
		    color: #27334C;
		    font-size: 20px;
		    text-align: center;
		    box-sizing: border-box;
		}
		p{
		    max-width: 600px;
		    margin: 12px auto;
		    font-weight: normal;
		    font-family: sans-serif;
		}
		code{
		    background: #FAFAFA;
		    border: 1px solid #DDD;
		    border-radius: 3px;
		    padding: 0px 4px;
		    box-sizing: border-box;
		}

		.donut-size{
	   	 font-size: 10em;
	   	 box-sizing: border-box;
		}
	
		.pie-wrapper{
		    position: relative;
		    width: 1em;
		    height: 1em;
		    margin: 0px auto;
		    box-sizing: border-box;
	    }
	    .pie{
	        position: absolute;
	        top: 0px;
	        left: 0px;
	        width: 100%;
	        height: 100%;
	        clip: rect(0, 1em, 1em, 0.5em);
	        box-sizing: border-box;
	     }
	    .half-circle{
	        position: absolute;
	        top: 0px;
	        left: 0px;
	        width: 100%;
	        height: 100%;
	        border: 0.1em solid hsl(235deg 67% 26%);
	        border-radius: 50%;
	        clip: rect(0em, 0.5em, 1em, 0em);
	        box-sizing: border-box;
	        }
	    .right-side{
	        transform: rotate(0deg);
	        box-sizing: border-box;
	        }
	    .label{
	        position: absolute;
	        top: 0.52em;
	        right: 0.4em;
	        bottom: 0.4em;
	        left: 0.4em;
	        display: block;
	        background: none;
	        border-radius: 50%;
	        color: #7F8C8D;
	        font-size: 0.25em;
	        line-height: 2.6em;
	        text-align: center;
	        cursor: default;
	        box-sizing: border-box;
	        }
	    .smaller{
	        padding-bottom: 20px;
	        color: #BDC3C7;
	        font-size: .45em;
	        vertical-align: super;
	        box-sizing: border-box;
	        }
	    .shadow{
	        width: 100%;
	        height: 100%;
	        border: 0.1em solid #BDC3C7;
	        border-radius: 50%;
	        box-sizing: border-box;
	        }